# Default Configuration file

#inputFile = ../Data/InputFiles/foreman_128-128-64.txt
inputFile = ../Data/InputFiles/lenna_512-512-1.txt
#inputFile = ../Data/InputFiles/foreman_288-352-288.txt
outputDirectory = ../Data/ResultsDump/
outputName = lenna1 # everything up to final '/' character will be ignored

#Block dimensions
blockHeight = 8
blockWidth = 8
blockFrames = 1

# Basis Function Setting
basisMode = haar
basisStartScale = 3
basisEndScale = 3

# Sensor Settings
#maskFile = /local/data/public/ba308/ResultsDump/foreman_MASK.txt
maskFile = ../Data/ResultsDump/foreman_MASK.txt

simulateCorruption = 1
sensorMode = mask
percentage = 50

maskMode = uniform
maskFill = 1

# RVM Settings
stdDev = 1
deltaML_threshold = 1

# Media settings
convertToMedia = 1
frameRate = 20

# Misc Settings
computePSNR = 1
# rngSeed = 146884349
printToLogFile = 0
logFile = ../Data/ResultsDump/lenna.log