# Default Configuration file

inputFile = Data/InputFiles/foreman_128-128-64.txt
outputDirectory = Data/Simulations/foreman_128-128-64/

outputName = Foreman	# everything up to final '/' character will be ignored

# Block dimensions
blockHeight = 16
blockWidth = 16
blockFrames = 16

# Basis Function Setting
basisMode = haar
basisEndScale = 4

# Corrupter Settings
#maskFile = Data/Simulations/foreman_128-128-64/mask_128-128-64.txt
simulateCorruption = 1
corrupterPercentage = 90
corrupterMode = uniform

# RVM Settings
stdDev = 1
deltaML_threshold = 1

# Media settings
convertToMedia = 1
frameRate = 25

# Misc Settings
computePSNR = 1
#rngSeed = 1468843494
printProgress = 1

